# Project exclude paths
/cloud-alibaba-nacos-config-client-3377/target/
/cloud-alibaba-nacos-consumer-9999/target/
/cloud-alibaba-nacos-provider-9001/target/
/cloud-alibaba-nacos-provider-9002/target/
/cloud-alibaba-sentinel-openfeign-consumer-8885/target/
/cloud-alibaba-sentinel-ribbon-consumer-8884/target/
/cloud-alibaba-sentinel-service-8401/target/
/cloud-config-3344/target/
/cloud-config-client-3355/target/
/cloud-config-client-3366/target/
/cloud-consumer-hystrix-dashboard-9000/target/
/cloud-consumer-order-8081/target/
/cloud-consumer-order-8082/target/
/cloud-consumer-order-feign-8083/target/
/cloud-consumer-order-feign-hystrix-8084/target/
/cloud-eureka-7071/target/
/cloud-eureka-7072/target/
/cloud-gateway-api-9527/target/
/cloud-provider-payment-8001/target/
/cloud-provider-payment-8002/target/
/cloud-provider-payment-8004/target/
/cloud-provider-payment-8006/target/
/cloud-provider-payment-hystrix-8008/target/
/cloud-stream-rabbitmq-consumer-8881/target/
/cloud-stream-rabbitmq-consumer-8882/target/
/cloud-stream-rabbitmq-provider-8880/target/
/common/target/